
<div id=<%= "frog_#{u_frog.id}" %>
<h4>
  <tr>
    <td><%= u_frog.name %></td>
    <td>Leaps: <%= u_frog.votes.size %></td>
    <% if  u_frog.user.id == @current_user.id %>
    <td><%= link_to_remote(image_tag("trash.jpg", :border => "none"), :url => {:controller => "frogs", :action => "destroy", :id => u_frog.id}, :method => 'delete', :update => "frog_#{u_frog.id}") %></td>
    <% end %>
  </tr>
</h4>
</div>

